#heading{
margin-top: 100px;
width: 300px;
padding: 10px;
font-size: 20px;
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
}

#heading1{
    font-family: 'Caveat', cursive;
    font-size: 19px;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
}

canvas{
    border: 2px dashed rgb(155, 230, 187);
    background-color: rgba(245, 245, 245, 0.37);
    margin-top: 77px;
    border-radius: 100px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
      box-shadow: 2px 2px 14px greenyellow;  
    }

    to{
        box-shadow: 2px 2px 14px rgb(87, 87, 226);
    }
}